/*Body Preparation -----------------------------------*/

body, html {
	background-color: white;
	height: 100%;
	width: 100%;
	font-family: 'Heebo', sans-serif;
	/* overflow-x: hidden; */
}
.container-fluid {
	background-color: #232222;
}

/*Full screen sections -----------------------------------*/

#inicio, #nosotros, #servicios, #clientes, #contacto {

	position: relative;
	height: 100%;
	padding-top: 5%;
	width: 100%;
	display: table;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Hidden sections -----------------------------------*/

#promotores, #proxeven, #galeria, #edicionesAnt {

	padding-top: 10%;
	height: 100%;
	width: 100%;
}

/* Text configurtion -----------------------------------*/
h1 {
	font-weight: 300;
	color: #4D4D4D;
	font-size: 55px;
	text-align: center;
}
h2 {
	font-weight: 300;
	font-size: 30px;
	color: #871313;
	text-align: left;
}
h3 {
	font-weight: 800;
	font-size: 30px;
	color: #871313;
	text-align: left;
}
h4, a {
	font-weight: 500;
	color: #871313;
	font-size: 16px;
}
p, label {
	font-weight: 400;
	font-size: 15px;
	color: #4D4D4D;
	text-align: left;
}

/* Dark Background sections: Background & Text-----------------------------------*/

#contacto {
	background: #232222;
}

.CarrContent {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	padding: none !important;
	background-image: url("https://i.imgsafe.org/6aa877aae1.jpg");
	background-color: black;
}

#menu *, #servicios *, #inicio *, #contacto *, #inicio * {
	color: white;
}

/* Scroll Bar -----------------------------------*/

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-button {

}
::-webkit-scrollbar-thumb {
	background: #b60101;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #891b1b;
}
::-webkit-scrollbar-thumb:active {
	background: #891b1b;
}
::-webkit-scrollbar-track {
	background: #666666;
	border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
	background: #666666;
}
::-webkit-scrollbar-track:active {
	background: #333333;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/* Graphics -----------------------------------*/

hr {
	height: 3px;
	background-color: #871313;
}

.carousel-control {
	background: none !important;
}

.circle {
	border-radius: 50%;
}

#map {
	width: 100%;
	height: 400px;
}

/* Buttons -----------------------------------*/

#menu a:hover {
	background-color: #871313;
}
.centerall {

	text-align: center;
}


#menu .active a, #menu a:active, .btn-tge:hover, .btn-tge:hover p {
	background-color: #5B1010;
	font-weight: 500;
}

.btn-tge {
	background-color: #871313;
	margin: 5px;
	padding: 0 10px 0 10px;
	border: 0px;
}
.btn-tge p, .btn-tge a {
	color: white !important;
	padding-top: 10px;
	text-decoration: none !important;
}

/* Section: Inicio -----------------------------------*/

#logo {
	z-index: 3;
	position: absolute;
	top: 30VH;
	left: 50vh;
}

#subtitulos {
	z-index: 4;
	position: absolute;
	width: 100%;
	top: 60vh;
}

#blackbgd {
	position: absolute;
	z-index: 2;
	width: 100%;
	margin-top: -5%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
}

video {
	position: relative;
	width: 100%;
	margin-top: -5%;
	z-index: 1;
	background-size: cover;
	transition: 1s opacity;
}

/* Others -----------------------------------*/



.form-group {
	padding: 15px;
	
}
.tge-form,.tge-form:focus{
border: 0;
border-bottom: 1px solid #ffffff;
background: none;
border-radius: 0px;
box-shadow: 0 0 0px 0 rgba(0,0,0,0.5) ;
}

.control-label {
	padding-left: 0px !important;
	text-align: left !important;text-
	}

	.imgnos {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: solid #891B1B 10px;
}

#servicios ul {
	width: 100%;
	display: table;
	table-layout: fixed;
}

#servicios ul li {
	display: table-cell;
	width: auto;
	text-align: center;
}

#nosotros {
	background-color: white;
	z-index: 5;
}

#content {

	display: none;
}

.cliente {
	display: table-cell;
}

#menulogo {
	margin-top: -10px;
	height: 250%;
}

#loader {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #232222;
}

.loading {
	position: relative;
	top: 40%;
	left: 48%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #CB2027;
	-webkit-animation: fade2 1s infinite;
	animation: fade2 1s infinite;
	-webkit-transition: background .2s;
	transition: background .2s;
}
.loading:after, .loading:before {
	content: '';
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	background: #5B1010;
	top: 15%;
	left: 180%;
	border-radius: 50%;
	-webkit-animation: fade1 1s infinite;
	animation: fade1 1s infinite;
	-webkit-transition: background .2s;
	transition: background .2s;
}
.loading:before {
	left: -150%;
	-webkit-animation: fade3 1s infinite;
	animation: fade3 1s infinite;
}
#cargando {
	color: white;
	top: 20%;
	left: -5px;
	position: relative;
}

@-webkit-keyframes fade1 {
0% {
background: #;
}
}

@keyframes fade1 {
0% {
background: #AA1813;
}
}
@-webkit-keyframes fade2 {
33% {
background: #2980b9;
}
}
@keyframes fade2 {
33% {
background: #CD1813;
}
}
@-webkit-keyframes fade3 {
66% {
background: #F51813;
}
}
@keyframes fade3 {
66% {
background: #C53C36;
}
}
.aviso{

padding:15px;

background-color:#2B2B2B !important;

}
